﻿@page "{Id:int}"
@model RegistroEstudiantes.Pages.Materias.DetalleMateriaModel
@{
    ViewData["Title"] = "DetalleMateria";
}

<h2>@Model.Materia.Nombre</h2>
<br />
<div>
    <label style="font-weight:bold">Id:  </label>
    <br />
    @Model.Materia.Id
</div>

<div>
    <label style="font-weight:bold">Codigo:  </label>
    <br />
    @Model.Materia.Codigo
</div>


<div>
    <label style="font-weight:bold">Area:  </label>
    <br />
    @Model.Materia.Area
</div>


<div>
    <label style="font-weight:bold">Diposnible:  </label>
    <br />
    @Model.Materia.Diposnible
</div>


<div>
    <label style="font-weight:bold">Objetivos:   </label>
    <br />
    @Model.Materia.Objetivos
</div>

<div><a class="btn btn-dark" asp-page="./RegistroMaterias">Regresar</a></div>