﻿@page
@model RegistroEstudiantes.Pages.RegistroMateriasModel
@{
}


    <form method="Get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" 
                   aria-label="Buscar" aria-describedby="basic-addon2" name="texto">
            <div class="input-group-append">
               <button class="btn btn-danger" type="submit">Buscar</button>
            </div>
        </div>
    </form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Area</th>
            <th scope="col">Disponible</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var materia in Model.Materias)
        {
            <tr>
                <td>@materia.Id</td>
                <td>@materia.Codigo</td>
                <td>@materia.Nombre</td>
                <td>@materia.Area</td>
                <td>@materia.Diposnible</td>
                <td><a asp-page="./DetalleMateria" asp-route-Id="@materia.Id" class="btn btn-danger" style="cursor:pointer">Ver Detalle</a></td>
            </tr>
        }
    </tbody>
</table>



<h1>@Model.Mensaje</h1>

