﻿@page
@model RegistroEstudiantes.Pages.RegistroEsModel
@{
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">#</th>
            <th scope="col">Sexo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model.Estudiante)
        {
        <tr>
            <td>@estudiante.Nombre</td>
            <td>@estudiante.Apellido</td>
            <td>@estudiante.Matricula</td>
            <td>@estudiante.Sexo</td>
            <td><a asp-page="./DetalleMateria"  class="btn btn-danger" style="cursor:pointer">Ver Detalle</a></td>

        </tr>
        }
    </tbody>
</table>
