﻿@page
@model RegistroEstudiantes.Pages.ListaProfesoresModel
@{
}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Area</th>
                <th scope="col">Sexo</th>
                <th scope="col">Disponible</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lprofesores in Model.lista)
            {
                <tr>
                    <td>@lprofesores.Id</td>
                    <td>@lprofesores.Nombre</td>
                    <td>@lprofesores.Area</td>
                    <td>@lprofesores.sexo</td>
                    <td>@lprofesores.Disponible</td>
                </tr>
            }
        </tbody>
    </table>